# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BladePade/Library/PlayerDataCache/Data/sharedassets0.assets
BladePade/Library/PlayerDataCache/sharedassets0.assets
BladePade/Library/PlayerDataCache/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets10.assets
BladePade/Library/PlayerDataCache/Data/sharedassets2.assets
BladePade/Library/PlayerDataCache/Data/sharedassets3.assets
BladePade/Library/PlayerDataCache/Data/sharedassets4.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets2.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets2.assets
BladePade/Library/PlayerDataCache/Data/sharedassets3.assets
BladePade/Library/PlayerDataCache/Data/sharedassets4.assets
BladePade/Library/PlayerDataCache/Data/sharedassets5.assets
BladePade/Library/PlayerDataCache/Data/sharedassets6.assets
BladePade/Library/PlayerDataCache/Data/sharedassets7.assets
BladePade/Library/PlayerDataCache/Data/sharedassets8.assets
BladePade/Library/PlayerDataCache/Data/sharedassets9.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets1.assets
BladePade/Library/PlayerDataCache/Data/sharedassets10.assets
BladePade/Library/PlayerDataCache/Data/sharedassets2.assets
BladePade/Library/PlayerDataCache/Data/sharedassets3.assets
BladePade/Library/PlayerDataCache/Data/sharedassets4.assets
BladePade/Library/PlayerDataCache/Data/sharedassets5.assets
BladePade/Library/PlayerDataCache/Data/sharedassets6.assets
BladePade/Library/PlayerDataCache/Data/sharedassets7.assets
BladePade/Library/PlayerDataCache/Data/sharedassets8.assets
BladePade/Library/PlayerDataCache/Data/sharedassets9.assets
